.env
.DS_Store
Thumbs.db
storage/logs/*
!storage/logs/.gitkeep
storage/uploads/*
!storage/uploads/.gitkeep
public/uploads/*
!public/uploads/.gitkeep
!public/uploads/.htaccess
/vendor/
/node_modules/
*.log
